@use "utilities" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  background-color: $almost-white;
  overlay-y: hidden;
  @include md {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
  }
}
main {
  height: calc(100vh - 140px);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include md {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 90% 10%;
    width: 85%;
    height: fit-content;
    column-gap: 4rem;
    align-items: flex-end;
    margin: 0 auto;
  }
  @include lg {
    column-gap: 6rem;
    grid-template-columns: 45% 55%;
  }
  @include xl {
    column-gap: 8rem;
    grid-template-columns: repeat(2, 1fr);
  }
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30%;
  width: 100%;
  padding: 2rem 1rem;
  @include md {
    height: 100%;
    grid-column: 1/2;
    grid-row: 1/2;
    align-items: flex-start;
    justify-content:flex-end;
    padding: 1rem 3rem;
    margin-bottom: 3em;
  }
}
p {
  text-align: center;
  margin: 1.5rem auto;
  @include md {
    text-align: left;
    margin: 4rem auto;
  }
}
footer {
  position: fixed;
  height: 70px;
  width: 100%;
  bottom: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
