@use 'utilities' as *;

body {
    font-family: 'Epilogue', sans-serif;
}
h1 {
    font-size: $head;
    color: $almost-black;
    @include md {
        font-size: 2.5rem;
    }
    @include lg {
        font-size: 3rem;
    }
    @include xl {
        font-size: 4.2rem;
    }
}
p {
    font-size: $para;
    color: $medium-gray;
    line-height: 1.5;
}
a {
    color: $medium-gray;
}
.learn-button {
    font-weight: $bold;
}
.login-button,
.register-button {
    font-family: 'Epilogue', sans-serif;
    color: $medium-gray;
}